.zixiupu{
    padding: 34rpx;
 
    .title{
        font-size: 28rpx;
        color: #333333;
        margin-bottom: 29rpx;
    }
    .content{
        font-size: 28rpx;
        line-height: 36rpx;
        color: #656565;
    }
}
.persons{
    padding: 30rpx;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
 
    .title{
        font-size: 28rpx;
        color: #333333;
        margin-bottom: 29rpx;
    }
    .content{
        font-size: 28rpx;
        line-height: 36rpx;
        color: #656565;
        display: flex;
        flex-wrap: wrap;
        .name{
          margin: 6rpx 10rpx;
        }
    }
}
.history{
    padding: 30rpx;
 
    .title{
        font-size: 28rpx;
        color: #333333;
        margin-bottom: 29rpx;
    }
    .content{
        font-size: 28rpx;
        line-height: 36rpx;
        color: #656565;
        display: flex;
        flex-wrap: wrap;
        .item{
          margin-bottom: 20rpx;
        }
    }
}