@import "../../common/common";
.user-header{
  display: flex;
  justify-content: space-between;
  padding: rpx(40) rpx(20);
  .header-l{
    display: flex;
    .header{
      width: rpx(92);
      height: rpx(92);
      border-radius: 50%;
      overflow: hidden;
      image{
        width: 100%;
        height: 100%;
      }
    }
    .header-c{
      margin-top: rpx(14);
      margin-left: rpx(20);
      .user-name{
        font-size: rpx(30);
        color: #999999;
      }
      .nike-name{
        font-size: rpx(24);
        color: #eeeeee;
      }
    }
  }
  .header-r{
      color: #999999;
      font-size: rpx(30);
      display: flex;
      line-height: rpx(90);
      .icon{
        margin-right: rpx(10);
      }
  }
}
.content{
  padding: 0 rpx(20);
  image{
    width: 100%;
  }
  text,view,p,div,span,h1,h2,h3,h5{
    font-size: rpx(24);
  }
}
.comment-list{
  .user-comment{
    padding:  rpx(20);
    border-bottom: rpx(1) solid #eeeeee;
    .user-header2{
      .header-l{
        display: flex;
        .header{
          width: rpx(92);
          height: rpx(92);
          border-radius: 50%;
          overflow: hidden;
          image{
            width: 100%;
            height: 100%;
          }
        }
        .header-c{
          margin-top: rpx(14);
          margin-left: rpx(20);
          .user-name{
            font-size: rpx(30);
            color: #999999;
          }
          .nike-name{
            font-size: rpx(24);
            color: #eeeeee;
          }
        }
      }
    }
    .user-comment2{
      width: 100%;
      padding-left: rpx(140);
      font-size: rpx(30);
    }
  }
  .user-comment:first-child{
    border: none;
  }
}
.footer{
  height: rpx(100);
  background-color: #eeeeee;
  line-height: rpx(100);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: rpx(20) rpx(20);
  box-sizing: border-box;
  .footer-l{
      background-color: #ffffff;
      height: rpx(60);
      line-height: rpx(60);
      font-size: rpx(24);
      border-radius: rpx(5);
      width: rpx(383);
      input{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0 rpx(20);
      }
  }
  .footer-c{
    text-align: center;
    line-height: rpx(38);
    margin-left: rpx(70);
    .text{
      font-size: rpx(24);
      color: #999999;
    }
    .icon{
      font-size: rpx(45);
      color: #ffaa00;
    }
  }
  .footer-r{
    text-align: center;
    margin-left: rpx(80);
    line-height: rpx(38);
    .text{
        font-size: rpx(30);
        color: #999999;
    }
    .icon{
      font-size: rpx(40);
    }
  }
}