@import "../../common/common";
.input{
  .inner-input{
    padding: rpx(28) 0;
    padding-right: rpx(20);
    display: flex;
    padding-left: rpx(25);
    border-bottom: rpx(1) solid #eeeeee;
    .input-title{
      font-size: rpx(28);
      padding: 0 rpx(25);
      line-height: rpx(53);
    }
    .input-input{
      flex: 1;
      input{
        font-size: rpx(28);
      }
    }
  }
}
.icon-list{
  display: flex;
  flex-wrap: wrap;
  padding: rpx(20) rpx(40);
  border-bottom: rpx(1) solid #eeeeee;
  .icon-item{
    width: rpx(80);
    height: rpx(80);
    border-radius: 50%;
    overflow: hidden;
    margin-left: rpx(67);
    image{
      width: 100%;
      height: 100%;
    }
  }
  .icon-item:nth-child(5n+1){
      margin-left: 0;
  }
  .icon-item:nth-child(n+6){
    margin-top: rpx(40);
  }
}
.post{
  width: rpx(443);
  height: rpx(75);
  line-height: rpx(75);
  text-align: center;
  font-size: rpx(28);
  border-radius: rpx(60);
  background-color: #577ef1;
  color: #ffffff;
  margin: rpx(100) auto;
}