@import "../../common/common";

.banner-add {
  background-color: #333333;
  color: #ffffff;
  padding: rpx(20) rpx(35);
  padding-bottom: rpx(80);
  .ccc {
    margin-top: rpx(60);
  }
  .banner-top {
    display: flex;
    font-size: rpx(24);
    justify-content: space-between;
    .icon-jia {
      font-size: rpx(40);
    }
  }
  .jia-P {
    text-align: center;
    font-size: rpx(28);
    font-weight: 400;
  }
}

.nav {
  height: rpx(80);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  line-height: rpx(70);
  border-bottom: rpx(4) solid #f7f7f7;
  white-space: nowrap;
  .nav-item {
    display: inline-block;
    text-align: center;
    font-size: rpx(24);
    padding: 0 rpx(20);
    color: #999999;
  }
  .nav-item.active {
    color: #ffaa00;
  }
}

.talk-list {
  padding-bottom: rpx(40);
  .talk-item {
    margin-top: rpx(20);
    .user-header {
      display: flex;
      justify-content: space-between;
      padding: rpx(20) rpx(20);
      padding-bottom: 0;
      margin-bottom: rpx(20);
      .header-l {
        display: flex;
        .header {
          width: rpx(92);
          height: rpx(92);
          border-radius: 50%;
          overflow: hidden;
          image {
            width: 100%;
            height: 100%;
          }
        }
        .header-c {
          margin-top: rpx(14);
          margin-left: rpx(20);
          .user-name {
            font-size: rpx(30);
            color: #999999;
          }
          .nike-name {
            font-size: rpx(24);
            color: #eeeeee;
          }
        }
      }
      .header-r {
        color: #999999;
        font-size: rpx(30);
        display: flex;
        line-height: rpx(108);
        .icon {
          margin-right: rpx(10);
        }
      }
    }
    .content {
      padding: 0 rpx(20);
      image {
        width: 100%;
        border-radius: rpx(10) rpx(10) 0 0;
      }
      text, view, p, div, span, h1, h2, h3, h5 {
        font-size: rpx(30);
        color: #999999;
        margin: rpx(20) 0;
      }
    }
    .our-bottom {
      padding: 0 rpx(20);
      margin-top: rpx(-20);
      .bottom {
        display: flex;
        padding-top: rpx(30);
        border: rpx(1) solid #eeeeee;
        border-top: none;
        padding-bottom: rpx(20);
        border-radius: 0 0 rpx(10) rpx(10);
        .bottom-item {
          flex: 1;
          text-align: center;
          .icon {
            font-size: rpx(40);
            display: inline-block;
            color: #999999;
          }
          .number {
            display: inline-block;
            font-size: rpx(28);
            line-height: rpx(50);
            margin-left: rpx(10);
            color: #999999;
          }
        }
      }
    }
  }
  .talk-item:first-child {
    margin-top: 0;
  }
}

