@import "../../common/common";

.type {
  background-color: #faf9f9;
  padding: 0 rpx(40);
  padding-top: rpx(22);
  .text {
    font-size: rpx(28);
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    padding: rpx(26) 0;
    .list-item {
      padding: rpx(10) rpx(30);
      border: rpx(1) solid #7796f4;
      color: #7796f4;
      border-radius: rpx(60);
      font-size: rpx(24);
      margin-left: rpx(10);
    }
    .list-item:first-child {
      margin-left: 0;
    }
    .list-item.active {
      background-color: #7796f4;
      color: #ffffff;
    }
  }
}

.publish-content {
  padding: 0 rpx(20);
  background-color: #faf9f9;
  margin-top: rpx(42);
  textarea {
    height: rpx(230);
    width: 100%;
    font-size: rpx(24);
    padding: rpx(20);
    box-sizing: border-box;
  }
  .img-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: rpx(84);
    .item {
      width: rpx(174);
      height: rpx(152);
      position: relative;
      margin-left: rpx(20);
      image {
        width: 100%;
        height: 100%;
      }
      .icon {
        position: absolute;
        right: rpx(-10);
        top: rpx(-10);
        font-size: rpx(36);
        color: #ffaa00;
      }
    }
    .item:nth-child(3n+1) {
      margin-left: 0;
    }
    .item:nth-child(n+4) {
      margin-top: rpx(20);
    }
    .add-item {
      border: rpx(1) dashed #999999 !important;
      width: rpx(174) !important;
      height: rpx(152) !important;
      line-height: rpx(152) !important;
      text-align: center !important;
      box-sizing: border-box !important;
      .icon {
        position: initial !important;
        font-size: rpx(70) !important;
        color: #eeeeee !important;
      }
    }
  }
  .button-list {
    .item {
      display: flex;
      justify-content: space-between;
      padding: rpx(20) 0;
      padding-left: rpx(20);
      border-bottom: rpx(1) solid #eeeeee;
      .text {
        font-size: rpx(28);
        line-height: rpx(55);
      }
      .move-btn {
        width: rpx(100);
        height: rpx(50);
        border-radius: rpx(60);
        border: rpx(1) solid #d9d9d9;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        .child-btn {
          width: rpx(50);
          height: rpx(50);
          border-radius: 50%;
          border: rpx(1) solid #d9d9d9;
          box-sizing: border-box;
          background-color: #ffffff;
          position: absolute;
          transition: left .5s;
          left: rpx(0);
          top: rpx(0);
        }
      }
      .move-btn.on {
        background-color: #ffaa00;
        .child-btn {
          left: rpx(51);
        }
      }
    }
    .item:last-child {
      border: none;
    }
  }
}

.post {
  width: rpx(330);
  height: rpx(75);
  line-height: rpx(75);
  text-align: center;
  font-size: rpx(28);
  border-radius: rpx(60);
  background-color: #577ef1;
  color: #ffffff;
  margin: rpx(50) auto;
}
