@import "../../common/common";

.list {
  .item {
    padding: rpx(24) rpx(38);
    display: flex;
    justify-content: space-between;
    border-bottom: rpx(1) solid #eeeeee;
    .title {
      color: #999999;
      font-size: rpx(30);
    }
    .icon-you {
      color: #999999;
    }
  }
}
